<ul class="products_ul">
<%
  if taxon.id
    product_taxons = taxon.product_taxons.includes(:product => :variants).where("products.available_on <= ? and products.count_on_hand > 0", Time.zone.now)
  else
    product_taxons = ProductTaxon.where(:taxon_id => 0).includes(:product => :variants).where("products.available_on <= ? and products.count_on_hand > 0", Time.zone.now)
  end
%>

<% product_taxons.each do |pt| %>
  <% next unless pt.product %>
  <li id="product_taxons_<%=pt.id%>">
   <span class="handle">≡</span>
   <%= h pt.product.name %> <div style='float:right'><%= h(pt.product.variants.collect {|v| v.count_on_hand }.join(' / ')) %> <%= h(pt.product.count_on_hand) if pt.product.variants.empty? %> </div>
  </li>
<% end %>
</ul>


<% content_for :head do %>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      $('.products_ul').sortable(
        { items:'li',
          containment:'parent',
          axis:'y',
          handle:'.handle',
          update: function(){
            $.post('/admin/taxons/reorder_products/<%=taxon.id || 0%>',
                   '_method=put&'+$(this).sortable('serialize'))
          }
        }
      );
      $('.accordion').accordion({
        collapsible: true,
        active: false,
        heightStyle: "content"
      });
    });
  </script>
  
  <%= stylesheet_link_tag "http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" %>

  <style type="text/css">
    ul.products_ul {
      list-style: none;
      margin-left: 20px;
      border: 1px solid #CCC;
    }

    .products_ul li {
      border: 1px solid #DDD;
      background-color: #F9F9F9;
      list-style: none;
      margin-left: 0;
      padding: 3px;
    }
  
    .products_ul li .handle {
      display: inline-block;
      color: silver;
      width: 15px;
      cursor: row-resize;
      text-align: center;
    }
  </style>

<% end %>
